In [22]:
x = 3
y = 2
print(x+y)

5

In [24]:
x = "3"
y = "2"
print(int(x)+int(y))

5

In [26]:
x = 300
print(x**3)

27000000

In [27]:
print('원의 반지름', 4.0)
print('원의 면적', 3.14 * 4.0 * 4.0)
print('원의 둘레', 2.0 * 3.14 * 4.0)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [28]:
radius = 4.0
print('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)
print('원의 둘레', 2.0 * 3.14 * radius)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [34]:
radius = 4.0
print('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)
print('원의 둘레',"2.0 * 3.14 * radius")

원의 반지름 4.0
원의 면적 50.24
원의 둘레 2.0 * 3.14 * radius

summ = 100
lst = [10, 20, 30]
total = sum(lst)

In [40]:
name = '김종환'
age = 27
print("'안녕!' 나는", name,'이야. 나는 나이가',age,'살이야.')

'안녕!' 나는 김종환 이야. 나는 나이가 27 살이야.

In [41]:
width = 20
height = 40
width = 30
area = width * height
print('사각형의 면적', area)

사각형의 면적 1200

In [42]:
width = 20
height = 40
width = 30
area = width * height
print('area', width * height)

area 1200

In [44]:
4-0.1

3.9

In [52]:
3**(1/2)

1.7320508075688772

In [53]:
pow(2,1/2)

1.4142135623730951

In [2]:
12/5

2.4

In [3]:
intnum=100
floatnum=100.0
print(type(intnum))
print(type(floatnum))

<class 'int'>
<class 'float'>

In [5]:
intnum=100
floatnum=100.0
strdata="하이"
print(type(intnum))
print(type(floatnum))
print(type(strdata))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
intnum = 100
num = str(intnum)
strdata = "안녕"
print(num + strdata)

100안녕

In [9]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [11]:
hello = '"여러분" 안녕하세요!!'
print(hello)

"여러분" 안녕하세요!!

In [12]:
hello_1 = '''안녕하세요
반갑습니다'''
print(hello_1)

안녕하세요
반갑습니다

In [13]:
hello_2 = "안녕 \n 하세요"
print(hello_2)

안녕
 하세요

In [19]:
data = '\U00000061'
print(data)

a

In [32]:
#boolean 형
print(2 and 4)
print(2 & 4)

4
0

In [29]:
print(False or True)

True

In [39]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)
print(number_1+number_2)
print(number_1*number_2)
print(number_1-number_2)
print(number_1/number_2)

3.0
2.0
(5+9j)
(-12+21j)
(-1-3j)
(0.5333333333333333-0.06666666666666667j)

In [46]:
#bool test
print(bool(-1))
print(bool(0))
print(bool(1))
print(bool(None))

True
False
True
False

In [47]:
bool(None)

False

In [48]:
bool('')

False

In [52]:
str = 'hello'
bool(str)

True

In [53]:
# 파이썬 주석은 #
# 주석 단축기는 ctr+/

In [54]:
'''
이것
파이썬
..
'''
print('ㅇㅇ?')

ㅇㅇ?

In [59]:
d=100
'''

print(d)






d
'''
# print(d+1)

'\n\nprint(d)\n\n\n\n\n\n\nd\n'

In [62]:
input_data = input("당신이 사는 곳은?")
print(input_data)
print(type(input_data))

input_data = input("당신이 사는 곳은?")
print(type(input_data))
print(input_data)

당신이 사는 곳은?1
1
<class 'str'>
당신이 사는 곳은?a
<class 'str'>
a

In [65]:
input_name = input("당신의 이름은?")
print(input_name + "님 반갑습니다")

당신의 이름은?aa
aa님 반갑습니다

In [70]:
num = 100;
print('num =' , num)

num += 100
print('num =' , num)

num /= 100
print('num =' , num)

num = 100
num = 200
num = 2.0

# if 문

In [72]:
철수 = 20
if 철수 < 20:
    print("청소년 할인 됩니다.")
print("돈 내세요!!")

돈 내세요!!

In [75]:
walking_cnt = 1001
if walking_cnt >= 1000 :
    print("목표 달성")
print("고생하셨습니다.")

목표 달성
고생하셨습니다.

In [79]:
walking_step = input("걸음 수 : ")
if int(walking_step) >= 1000 :
    print("목표 달성")
print("고생하셨습니다.")

걸음 수 : 1
고생하셨습니다.

In [82]:
man_power = input("당신의 파워는? ")
power = int(man_power)

if power <= 100 :
    print("시비걸기")
elif power <= 200 :
    print("고민해보기")
elif power > 200 :
    print("형님!!")

당신의 파워는? 2000
형님!!

# while 문

In [86]:
while False :
    print("10분간 휴식")

# for 문

In [91]:
range(6)

range(0, 6)

In [94]:
for i in range(-1,6):
    print(i)

-1
0
1
2
3
4
5

In [96]:
arr = ["영희", "철수", "만수", "똘이"]
for i in arr:
    print(i)

영희
철수
만수
똘이

In [97]:
for _ in range(10):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

# range()
    ### range ([start], [stop], [step])

In [100]:
arr = range(1, 10, 2)
print(len(arr))
print(type(arr))
for i in arr:
    print(i)

5
<class 'range'>
1
3
5
7
9

In [102]:
arr = ["영희", "철수", "만수", "똘이"]
print(len(arr))
print(type(arr))
for i in arr:
    print(i)

4
<class 'list'>
영희
철수
만수
똘이

In [109]:
sum = 0
for i in range(101):
    sum = sum + i
print(sum)

5050

In [111]:
multiple = 0
for i in range(1, 10):
    for j in range(1, 10):
        multiple = i * j
        print(i, '곱하기', j, '는', multiple)

1 곱하기 1 는 1
1 곱하기 2 는 2
1 곱하기 3 는 3
1 곱하기 4 는 4
1 곱하기 5 는 5
1 곱하기 6 는 6
1 곱하기 7 는 7
1 곱하기 8 는 8
1 곱하기 9 는 9
2 곱하기 1 는 2
2 곱하기 2 는 4
2 곱하기 3 는 6
2 곱하기 4 는 8
2 곱하기 5 는 10
2 곱하기 6 는 12
2 곱하기 7 는 14
2 곱하기 8 는 16
2 곱하기 9 는 18
3 곱하기 1 는 3
3 곱하기 2 는 6
3 곱하기 3 는 9
3 곱하기 4 는 12
3 곱하기 5 는 15
3 곱하기 6 는 18
3 곱하기 7 는 21
3 곱하기 8 는 24
3 곱하기 9 는 27
4 곱하기 1 는 4
4 곱하기 2 는 8
4 곱하기 3 는 12
4 곱하기 4 는 16
4 곱하기 5 는 20
4 곱하기 6 는 24
4 곱하기 7 는 28
4 곱하기 8 는 32
4 곱하기 9 는 36
5 곱하기 1 는 5
5 곱하기 2 는 10
5 곱하기 3 는 15
5 곱하기 4 는 20
5 곱하기 5 는 25
5 곱하기 6 는 30
5 곱하기 7 는 35
5 곱하기 8 는 40
5 곱하기 9 는 45
6 곱하기 1 는 6
6 곱하기 2 는 12
6 곱하기 3 는 18
6 곱하기 4 는 24
6 곱하기 5 는 30
6 곱하기 6 는 36
6 곱하기 7 는 42
6 곱하기 8 는 48
6 곱하기 9 는 54
7 곱하기 1 는 7
7 곱하기 2 는 14
7 곱하기 3 는 21
7 곱하기 4 는 28
7 곱하기 5 는 35
7 곱하기 6 는 42
7 곱하기 7 는 49
7 곱하기 8 는 56
7 곱하기 9 는 63
8 곱하기 1 는 8
8 곱하기 2 는 16
8 곱하기 3 는 24
8 곱하기 4 는 32
8 곱하기 5 는 40
8 곱하기 6 는 48
8 곱하기 7 는 56
8 곱하기 8 는 64
8 곱하기 9 는 72
9 곱하기 1 는 9
9 곱하기 2 는 18
9 곱하기 3 는 27
9 곱하기 4 는 36
9 곱하기 5 는 45
9 곱하기 6 는 54
9 곱하기 7 는 63
9 곱하기 8 는 72
9 곱하기 9 는 81

# n 팩토리얼

In [116]:
n = int(input("'n'을 입력하세요 : "))
fact = 1

for i in range(1, n+1):
    fact = fact * i
print(n, '팩토리얼은 ',fact)

'n'을 입력하세요 : 10
10 팩토리얼은  3628800

# while 문 예제

In [117]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
i = 1
while i <= n:
    s = s + i
    i += 1
print('1부터 {}까지의 합은 {}' .format(n, s))

합계를 구할 수를 입력하세요 : 100
1부터 100까지의 합은 5050

In [2]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
i = 1
base = '1부터 {}까지의 합은 {}'
while i <= n:
    s = s + i
    i += 1
print(base.format(n, s))

합계를 구할 수를 입력하세요 : 10
1부터 10까지의 합은 55

In [6]:
n=-1
while n<=0:
    n = int(input("입력하세요 "))
    if(n<=0):
        print("양수를 입력하세요")
s=0
for i in range(1, n+1):
    s = s + i
print(s)

입력하세요 10
55

## break, continue

In [20]:
str = "Programming Language"
for i in str:
    if i in ['a', 'e', 'o', 'i', 'u']:
        break;
    print(i)
print("The end")

P
r
The end

In [21]:
str = "Programming Language"
for i in str:
    if i in ['a', 'e', 'o', 'i', 'u']:
        continue
    print(i)
print("The end")

P
r
g
r
m
m
n
g

L
n
g
g
The end