In [22]:
x = 3
y = 2
print(x+y)

5

In [24]:
x = "3"
y = "2"
print(int(x)+int(y))

5

In [26]:
x = 300
print(x**3)

27000000

In [27]:
print('원의 반지름', 4.0)
print('원의 면적', 3.14 * 4.0 * 4.0)
print('원의 둘레', 2.0 * 3.14 * 4.0)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [28]:
radius = 4.0
print('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)
print('원의 둘레', 2.0 * 3.14 * radius)

원의 반지름 4.0
원의 면적 50.24
원의 둘레 25.12

In [34]:
radius = 4.0
print('원의 반지름', radius)
print('원의 면적', 3.14 * radius * radius)
print('원의 둘레',"2.0 * 3.14 * radius")

원의 반지름 4.0
원의 면적 50.24
원의 둘레 2.0 * 3.14 * radius

summ = 100
lst = [10, 20, 30]
total = sum(lst)

In [40]:
name = '김종환'
age = 27
print("'안녕!' 나는", name,'이야. 나는 나이가',age,'살이야.')

'안녕!' 나는 김종환 이야. 나는 나이가 27 살이야.

In [41]:
width = 20
height = 40
width = 30
area = width * height
print('사각형의 면적', area)

사각형의 면적 1200

In [42]:
width = 20
height = 40
width = 30
area = width * height
print('area', width * height)

area 1200

In [44]:
4-0.1

3.9

In [52]:
3**(1/2)

1.7320508075688772

In [53]:
pow(2,1/2)

1.4142135623730951

In [2]:
12/5

2.4

In [3]:
intnum=100
floatnum=100.0
print(type(intnum))
print(type(floatnum))

<class 'int'>
<class 'float'>

In [5]:
intnum=100
floatnum=100.0
strdata="하이"
print(type(intnum))
print(type(floatnum))
print(type(strdata))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
intnum = 100
num = str(intnum)
strdata = "안녕"
print(num + strdata)

100안녕

In [9]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [11]:
hello = '"여러분" 안녕하세요!!'
print(hello)

"여러분" 안녕하세요!!

In [12]:
hello_1 = '''안녕하세요
반갑습니다'''
print(hello_1)

안녕하세요
반갑습니다

In [13]:
hello_2 = "안녕 \n 하세요"
print(hello_2)

안녕
 하세요

In [19]:
data = '\U00000061'
print(data)

a

In [32]:
#boolean 형
print(2 and 4)
print(2 & 4)

4
0

In [29]:
print(False or True)

True

In [39]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)
print(number_1+number_2)
print(number_1*number_2)
print(number_1-number_2)
print(number_1/number_2)

3.0
2.0
(5+9j)
(-12+21j)
(-1-3j)
(0.5333333333333333-0.06666666666666667j)

In [46]:
#bool test
print(bool(-1))
print(bool(0))
print(bool(1))
print(bool(None))

True
False
True
False

In [47]:
bool(None)

False

In [48]:
bool('')

False

In [52]:
str = 'hello'
bool(str)

True

In [53]:
# 파이썬 주석은 #
# 주석 단축기는 ctr+/

In [54]:
'''
이것
파이썬
..
'''
print('ㅇㅇ?')

ㅇㅇ?

In [59]:
d=100
'''

print(d)






d
'''
# print(d+1)

'\n\nprint(d)\n\n\n\n\n\n\nd\n'

In [62]:
input_data = input("당신이 사는 곳은?")
print(input_data)
print(type(input_data))

input_data = input("당신이 사는 곳은?")
print(type(input_data))
print(input_data)

당신이 사는 곳은?1
1
<class 'str'>
당신이 사는 곳은?a
<class 'str'>
a

In [65]:
input_name = input("당신의 이름은?")
print(input_name + "님 반갑습니다")

당신의 이름은?aa
aa님 반갑습니다

In [70]:
num = 100;
print('num =' , num)

num += 100
print('num =' , num)

num /= 100
print('num =' , num)

num = 100
num = 200
num = 2.0